.input-block {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .input-block__title {
    font-size: 20px;
    font-weight: 500;
  }

  .input-block__place {
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;

    &:has {
      background: red;
    }
  }

  .input-block__error {
    height: 0;
    opacity: 0;
    visibility: hidden;
    color: red;
    font-weight: 400;
    transition: all 0.3s;
    font-size: 13px;
  }

  &.error {
    .input-block__error {
      height: 15px;
      opacity: 1;
      visibility: visible;
    }
  }
}